@charset "UTF-8";

body{
	background-color: #28637f78 ;

	background-repeat: no-repeat;
	/* color: #29c2d4; !important; */
}

a {
	font-size: 45px;
	font-family: Helvetica
	}

td{
	color: #29c2d4; !important;
}

.resultsSingle {
	color: #29c2d4; !important;
	font-size: 40px;
	font-family: Fantasy;
	text-shadow: 3px 3px black;
}

.allHeroesResults {
	color: #29c2d4;
	font-size: 20px;
	font-family: Fantasy;
	text-shadow: 3px 3px black;
}

.header {
	color: #29c2d4;
	margin-top: 250px;
	text-align: center;
	font-size: 85px;
	font-family: Fantasy;
	text-shadow: 3px 3px black;
}

.subheader {
	color: #29c2d4;
	text-align: center;
	font-size: 30px;
	font-family: Fantasy;
	margin-top: 10px;
	margin-bottom: 150px;
	text-shadow: 3px 3px black;
}

.navbar {
	padding-bottom: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	display: none;
}

.nav-button {
}

.navbar li {
	text-align: center;
	display: inline;
}

.nav-button:hover:toggle {
	text-decoration: none;
	color: #000;
	font-family: Fantasy;
	background-color: #29c2d4;
	border-radius: 2px;
}
.subheader-button {
	text-decoration: none;
	color: #fff;
	font-family: Fantasy;
}

.subheader li {
	text-align: center;
	display: inline;
}

.subheader-button:hover:toggle {
	text-decoration: none;
	color: #000;
	font-family: Fantasy;
	background-color: #29c2d4;
	border-radius: 2px;
}

.card:hover:toggle {
	text-decoration: none;
	color: #000;
	flex: 0 1 55%;
	background-color: AliceBlue;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}